## BACKEND
# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*

/backend/node_modules
# Keep environment variables out of version control
/backend/.env
/backend/prisma/dev.db

# Tests
/backend/coverage/

## FRONTEND
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/.DS_Store
/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*